@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
.homeDiv{
    display: flex;
    flex-direction: row;

}
.homeIcon{
    font-size:30px;
    color:#1572A1;
    margin-top:27px;
    margin-right: 10px;
 
}
.outerDiv{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #1572A1;
    border-radius: 10px;
}
.homeButton{
    width: 12%;
    background-color: azure;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #9AD0EC;
    cursor: pointer;
}
.homeLabel{
 color: azure;
 text-transform: uppercase;
}
.homeButtonLink{
    text-decoration: none;
    color: #1572A1;
    text-transform: uppercase;
}
